.nav-bg-dark {
    box-shadow: 0px 2px 3px #172233;
    border-bottom: 1px solid #1f2f47;
    background: #202e44;

}

.foot-ico {
    i { font-size: 1.8rem; }
}

.foot-newsletter {
    .card {
        background: #e7ef8b;
    }
}


.first_back {
    background-image: url('http://cdn1.bestpsdfreebies.com/wp-content/uploads/2014/06/Icon_back.jpg');
    background-size: cover;
}


.sidebar-card {
    box-shadow: 0px 2px 3px #233c63;
    .card-header {
        background: #1f2f49;
        color:#fff;
    }   
    .list-group {
        background: #293e60;
        .list-group-item {
            cursor: pointer;
            background: #2c446b;
            transition: all 0.5s ease;
            color: #ddd;
            border-top: 1px solid #39537c;
            border-bottom: 1px solid #1d2e47;
            margin-bottom: 2px;
            &:hover {
                background: #223554;
            }
        } 
    }        
}

.main {
    background: #fff;
    box-shadow: 0px 2px 3px #ddd;
    border: 1px solid #e2e2e2;
}